.ItemCard {

  @screen lg {
    height: 17rem;
  }

  @screen xl {
    height: 22rem;
  }

  &__content {
    opacity: 1;
    transition: all 300ms ease-out;

    @screen lg {
      opacity: 0;

      &--show {
        opacity: 1;
      }
    }
  }

  &:hover {

    .ItemCard__content {
      opacity: 1;
    }
  }
}