.Loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  &__item {
    @apply border-4 border-solid m-4;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    animation: ring-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: theme(colors.primary) transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }

  @keyframes ring-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
