.Homepage {
  position: relative;
  height: calc(100vh - 1rem);
  min-height: calc(100vh - 1rem);

  &__header {
    @apply mt-4;
    position: relative;
    transition: all 300ms;
    top: 0;
    left: 0;
    width: 100%;
  }

  h1,
  p,
  input {
    transition: all 300ms;
  }

  &__text {
    transition: all 300ms 300ms;
  }

  &__input-container {
    @apply mt-4;
    margin-left: auto;
    width: 100%;

    @screen md {
      width: auto;
    }
  }

  &--centered {

    .Homepage__header {
      flex-direction: column;
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
    }

    .Homepage__text {
      text-align: center;

      h1 {
        @apply text-xl;

        @screen md {
          @apply text-4xl;
        }
      }

      p {
        @screen md {
          @apply text-xl;
        }
      }
    }

    .Homepage__input-container {

      @screen md {
        @apply mt-8 mb-0 mx-auto;
        width: 75%;

        input {
          @apply px-6 py-4 text-3xl;
        }
      }
    }
  }
}